{% extends 'layout.html' %}

{% block content %}
<!-- <h3 align="center">Show Data of Article</h3>
<table class="table is-bordered">
    <thead class="has-background-dark">
      <tr>
        <th scope="col" class="has-text-white">ID</th>
        <th scope="col" class="has-text-white">Title</th>
        <th scope="col" class="has-text-white">Description</th>
      </tr>
    </thead>
    <tbody>
    {% for posts in Posts %}
      <tr>
        <th scope="row">{{posts.id}}</th>
        <th scope="row">{{posts.name}}</th>
        <th scope="row">{{posts.desc}}</th>
      </tr>
    {% endfor %}
    </tbody>
</table> -->
{% endblock %}